body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

li {
    list-style-type: none;
    display: inline-block;
    color: white;
    padding: 15px;
    float: right;
    font-family: 'Dhurjati', sans-serif;
}

ul {
    background-color: red;
    overflow: hidden;
    margin: 0;
    margin-bottom: 3px;
}

#container {
    width: 80%;
    margin: auto;
    position: relative;
}

#first {
    width: 80%;
    height: 850px;
    background-image: url(https://udemy-images.udemy.com/course/750x422/505208_2307_4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    margin-bottom: 15px; 
}

.box {
    box-sizing: border-box;
    width: 32.8%;
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    text-align: justify;
}

.box img {
    width: 100%;
}

/* .relative {

    width: 280px;
    height: 280px;
    position: relative;
    right: 0;

} */

#spec a{
    display: block;
    text-decoration: none;
    border-bottom: 1px solid rgb(68, 57, 223);
    color: #54653e;
}

#spec {
    background-color: #ffbe00;
    vertical-align: top;
    height: 220px;
    height: 375px;
    font-size: 24px;
    line-height: 88px;
    
}
footer {
    box-sizing: border-box;
    width: 100%;
    background-color: #2d3e50;
    color: white;
    padding: 15px;
    padding-left: 10%;
}

