.picture {
width: 30%;
height: auto;
display: block;
}

#first {
    background-color: red;
    opacity: 0.5;
    width: 50%;
}

#second {
    background-color: rgba(255, 0, 0, 0.5); 
    width: 50%; 
}

.blue {
    background-color: blue;
}

.pink {
    background-color: hotpink;
}

table {
    width: 100%
}

td {
   
    height: 100px;
    text-align: center;
}