img {
    display: block;
}

img:first-child {
    float:left;
    height: 200px;
}
img:nth-child(2) {
    
    width: 200px;
    clear: left;
    margin: auto;
    
}
img:nth-child(3) {
    height:200px;
    width:200px;
    float: right;
}
