
        h1 {
            color: red;
        }

        p {
            color: blue;
        }

        /* #important {
            background-color: yellow;
        }

        .note {
            background-color: aqua;
        } */

        p a {
            background-color: aqua
        }

        body > a {
            background-color: orange;
        }
    